<div class="page-header text-center">
  <h1><strong> Success! </strong><h1>
  <h3>We'll get back to you within 1 business day.</h3>
</div>

<h2>Take me back <%= link_to 'Home', root_path, class: 'btn btn-success' %></h2>
