<div class="friend" id="<%= friend.id %>">
  <div class="thumbnail">
     <%= image_tag friend.avatar.url(:original) %>
  </div>

  <h3><%= friend.ask %><%= link_to 'Delete', friend, confirm: 'Are you sure you want to lose a friend?', method: :delete, class: 'destroy btn btn-link pull-right' %> </h3>
  
</div>